html body{
    background-color: #f5f1eb;
}
.yellow-background{
    background-color: #FFDA44;
    border-style: double;
    border-color: #fff;
}
.white-background{
    background-color: #ffffff;
}

.contact-me{
    background-color:#FFDA44;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 1.25em;
    border-style: double;
    border-color: #fff;
}   

.blurb{
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(10px,1.5vw,18px);
    margin-top: 1em;
}

.hori-lines{
    width: 100%;
    overflow: hidden;
}

.text1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(8px,1.25vw,14px);
}

.big-name{
    font-family: 'Merriweather', serif;
    font-weight:10em;
    font-size: clamp(24px,4vw, 36px);;
}

.fr-icon{
    width: 60px;
    height: 60px;
}

.project-heading{
    font-family: 'IBM Plex Mono', monospace;
    font-weight:5;
    font-size: clamp(12px,2vw, 20px);
    color:#ff9717e1;
}

.project-imgs{
    height: auto;
    max-width: 100%;
}

/* Spacers */
#spacer-1{
    margin-top: 2em;
    margin-bottom: 1em;
}
#spacer-2{
    margin-top: 2em;
    margin-bottom: 0em;
}
#spacer-3{
    margin-top: 3em;
    margin-bottom: 3em;
}





    
