body {
    background: #efefef;
    box-sizing: border-box;
}

/* The grid container */
.grid-container {
    margin: 3em 3em 3em 3em;

    display: grid; 
    grid-template-areas: 
    'header header header header header '
    'left left about about about'
    'socials socials about about about'
    '. . about about about'
    'projects projects none none none';
    max-width: 90em;
    grid-column-gap: 2em;
    }

.header {
    grid-area: header;
    background-color: #0453E3 ;
    margin-bottom: 1em;
    padding: 0em 1em 0em 1em;
    max-width: 100%;
    
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
}

/* header */
.header p{
    display: inline-block;
    font-family:'Press Start 2P';
    font-size: 28px;
    color: white;
    text-shadow: 
    0.05em 0.05em 0 yellow,
    0.075em 0.075em 0 blue,
    0.1em 0.1em 0 purple,
    0.125em 0.125em 0 black;
} 

/* first left box */

.left {
    background-color:#FBFAFA;
    grid-area: left;
    padding: 2em 1em 2em 3em;
    height:fit-content;
    max-width: 36em;
    margin-bottom: 1em;
    align-self: center;
    
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    border-color: #0453E3;
    box-shadow: 0 0 0 1px white;
}

.headshot{
    /* align: center; */
    float:left;
     padding-right: 2em;

}

/* table inside left */
.nest-deets{
    text-align:right;
    float: right;
    border: 1px solid #FBFAFA;
    width: 100%;
}
td{
    padding-top:1.5em;
    font-family: 'Press Start 2P';
    font-size: 12px;
}
.words{
    padding-left: 1em;
    text-align: right;
    font-family: 'IBM Plex Mono';
    font-size: 14px;
}



/* right */

.about {
    background-color:#FBFAFA;
    grid-area: about;
    padding: .5em 4em 0em 4em;

    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: #0453E3;
    box-shadow: 0 0 0 1px white;
    max-width: 100%;
}

.about p{
    font-family: 'IBM Plex Mono';
    font-size: 15px;
    line-height: 2;
}

.about > .abt-text{
    font-size: 25px;
    font-family: 'Press Start 2P';

}



/* socials */

.socials{
    background-color: #FBFAFA ;
    grid-area:socials;
    margin-top: 1em;
    max-width: 40em;

    border-style: ridge;
    border-width: 2px;
    border-radius: 7px;
    border-color: #0453E3;
    box-shadow: 0 0 0 1px white;

}

.socials p{
    font-size: 10px;
    font-family: 'Press Start 2P';
}

.icons{
    background-color: #ACBCD9;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-evenly;
}

.contact{
    padding: 1em;
    text-align: center;
}


/*projects */

.projects {
    margin-top: 1em;
    grid-area: projects;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    max-width: 40em;

    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: #0453E3;
    box-shadow: 0 0 0 1px white;

}

/* project menu bar*/
.menu-bar{
    grid-area: menu-bar;
    background-color: #0453E3 ;
    margin-bottom: 2em;
    border-width: 2px;
    border-radius: 5px;
}

.menu-bar p{
    display: inline-block;
    font-size: 10px;
    font-family: 'Press Start 2P';
    color: white;
}

.big-txt{
    font-family: 'Press Start 2P';
    font-size: 20px;
    align-self: center;
    margin-bottom: -10px;
}

.small-txt{
    font-family: 'IBM Plex Mono';
    font-size: 15px;
    margin-bottom: 10em;
}


.project-grid{
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas:
    'menu-bar menu-bar'
    'project-cfv  proj-cfv-icon ' 
    'project-cdv proj-cdv-icon ';
}

.project-critforcevis{
    grid-area: project-cfv;
    padding-top: 1em;
    float: left;
}

.project-climbdiscvis{
    grid-area: project-cdv;
    padding-top: 1em;
    float: left;
}

.critforcevis-img{
    grid-area: proj-cfv-icon;
    float: right;
    justify-content: center;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.climbdiscvis-img{
    grid-area: proj-cdv-icon;
    float: right;
    justify-content: center;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.grid-container  {
    grid-template-areas: 
    'header header ' 
    'left left   '
    'right right '
    'socials socials '
    'projects projects ';
}

.right{
    padding: 0em 1.5em 0em 1em;
}

.header i{
    visibility: hidden;
    text-align: center;
}

.headshot{
text-align: center;
} 

.nest-deets{
    text-align: center;

}

.project-grid{
    grid-template-areas:
    'menu-bar'
    'project-cfv ' 
    'project-cfv-icon' 
    'project-cdv' 
    'project-cdv-icon' ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 0em;
}


.small-txt{
    margin-bottom: 2em;
}


.critforcevis-img {
    width: 90%;
}

.climbdiscvis-img{
    width: 90%;
}

.menu-bar{
    margin-bottom: 1px;
}

.menu-bar i{
    visibility: hidden;
}

}
