body{
    background-color: #F8F8F8;
    padding-top: 2vw;
}

p{
    font-family: 'IBM Plex Mono', monospace;
}

/* .container{
    padding-left: 2vw;
    margin-right: 2vw;
} */

.box-col{
    background-color: #EB5A00;
}

.header{
    height:3.5vw;
    /* width:auto; */
    /* border-radius:10px;
    border: 2px solid #fff; */
}

.blue-border{
    width:auto;
    border-radius:5px;
    border: 2px solid #006CEB;
}

#big-name{
    font-size: 2.5vw;
    font-weight: bold;
}

#spacer{
    margin-bottom: 1vw;
}


.spacer2{
    margin-right: .5em;
    padding-right: .5em;
}